# IDE and OS excludes
/.idea
.DS_Store

# Runtime environment
/.docker/*
!/.docker/.gitkeep
/.public-tests
/.reports
/public
/tests/**/behat.yaml
/tests/**/suite.yaml
/vendor
/composer.lock

# Cache files
**/*.cache
